keras==3.3.3
keras-models==0.0.7
matplotlib==3.8.4
matplotlib-inline==0.1.7
nltk==3.9.1
numpy==1.26.4
safetensors==0.4.3
scikit-learn==1.4.2
seaborn==0.13.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0